<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pastikan request bukan file atau direktori yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>